<div class="todos-component container-fluid">

  <section class="grid-section">
    <h3 class="section-title">Todo List</h3>
    <table class="table grid">
      <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td><button class="btn btn-success btn-sm">Edit</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
          </tr>         
      </tbody>
    </table>
  </section> <!-- /grid-section -->

  <section class="form-section">
    <form class="create-form">
      <h3 class="section-title">Create New Task</h3>
      <div class="task-name form-group">
        <label>Task Name</label>
        <input class="form-control" placeholder="Enter task name"> 
      </div>
      <div class="task-description form-group">
        <label>Description</label>
        <textarea class="form-control" placeholder="Enter description" rows="3" ></textarea> 
      </div>
      <input type="submit" class="btn btn-primary btn" value="Create"> 
    </form>
  </section> <!-- /form-section -->

</div>